#torch<2.5
#pip install torch==1.13.1+cu117 torchvision==0.14.1+cu117 torchaudio==0.13.1 --extra-index-url https://download.pytorch.org/whl/cu117
numpy<1.25
Cython<3.1
tensorboard<2.15
tensorboardX<2.7
choix<0.4
PySide2<5.16
six<1.17